{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}

<!-- <link href="https://fgelinas.com/code/timepicker/jquery.ui.timepicker.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{% static 'include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/jquery.ui.timepicker.css' %}" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
<li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
<li class="active">{% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
</ol>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a id="btn-history" href="{% add_preserved_filters history_url %}" class="btn btn-default btn-sm"><i class="fa fa-history"></i> {% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
<!-- <script src="https://fgelinas.com/code/timepicker/jquery.ui.timepicker.js"></script> -->

<script type="text/javascript" src="{% static 'include/jquery-1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'include/ui-1.10.0/jquery.ui.core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'include/ui-1.10.0/jquery.ui.widget.min.js' %}"></script>
<script type="text/javascript" src="{% static 'include/ui-1.10.0/jquery.ui.tabs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'include/ui-1.10.0/jquery.ui.position.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.timepicker.js' %}"></script>

<script>
    $(".return_date_picker, .departure_date_picker, .oneway_date_picker").datepicker({ 
        dateFormat: 'dd-mm-yy' 
    });

    $('.timepicker').timepicker();
    
    $(".date_of_birth_picker").datepicker({
        dateFormat : 'dd-mm-yy',
        changeMonth : true,
        changeYear : true,        
        yearRange: '-100y:c+nn',
    });

    $(".passport_expiry_date").datepicker({
        dateFormat : 'dd-mm-yy',
        changeMonth : true,
        changeYear : true,        
        yearRange: '2018:2050',
    });

    // function for formatting the date in django forms
    format_date = function(ccsclass){
        if($('.'+cssclass+'').val() != undefined){
            split_value = $('.'+cssclass+'').val().split("-");
            reverse_value = split_value.reverse();
            $('.'+cssclass+'').val(reverse_value.join("-"));
        }
    }

    format_date(cssclass = 'date_of_birth_picker');    
    format_date(cssclass = 'passport_expiry_date');
    format_date(cssclass = 'return_date_picker');
    format_date(cssclass = 'departure_date_picker');
    format_date(cssclass = 'oneway_date_picker')    

    trip_type_content = function(){
        trip_type = $('#id_triptype option:selected').text();
        
        if(trip_type == 'Round Trip'){
            console.log('Round Trip');
            // one way trip
            $('.field-oneway_date').parent('.form-row').hide();
            $('.field-oneway_seat_availability').parent('.form-row').hide();
            $('#id_oneway_time').parent().parent().hide();

            // round trip
            $('.field-departure_time').parent('.form-row').show();
            $('.field-return_flt_no').parent('.form-row').show();
            $('.field-total_departure_seats').parent('.form-row').show();
            $('.field-return_seat_availability').parent('.form-row').show();
            $('.field-dep_rate_supplier').parent('.form-row').show();

        }else {
            console.log('One Way');
            // one way trip
            $('.field-oneway_date').parent('.form-row').show();
            $('.field-oneway_seat_availability').parent('.form-row').show();
            $('#id_oneway_time').parent().parent().show();

            // round trip
            $('.field-departure_time').parent('.form-row').hide();
            $('.field-return_flt_no').parent('.form-row').hide();
            $('.field-total_departure_seats').parent('.form-row').hide();
            $('.field-return_seat_availability').parent('.form-row').hide();
            $('.field-dep_rate_supplier').parent('.form-row').hide();            
        }
    }
    
    // on load event of trip id
    trip_type_content();

    // change event of id trip type
    $('#id_triptype').on('change', function(){
        trip_type_content();        
    }); 

    $('#id_existing_supplier').on('change', function(){
        existing_supplier = $(this).val();
        
        if(existing_supplier != ''){
            existing_supplier_name = $('#id_existing_supplier option:selected').text();            
            $('#id_supplier_name').val(existing_supplier_name);
            $('#id_supplier_name').parent().parent().hide();
        }
        else {
            $('#id_supplier_name').parent().parent().show();
            $('#id_supplier_name').val('');
        }
        
    });

</script>
{% endblock %}
