{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Flight Fixed Departure Chart</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br><br><br>
                <form class="form-horizontal" action="/departurechart/" id="sector_form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sector" class="col-md-2 col-md-offset-2 control-label">Search By Sector</label>
                        <div class="col-md-4">
                            <select class="form-control" name="sector_id">
                                <option value="0">Select Sector</option>
                                {% for sector_detail in sector_details %}
                                    <option value="{{ sector_detail.id }}"
                                        {% if sector_detail.id == sector_id %}
                                            selected
                                        {% endif %}
                                    >{{ sector_detail.sector_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                <br><br>
                <table id="sectorTable" class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SR NO.</th>
                            <th>SECTOR</th>
                            <th>DEP. TIME/ FLIGHT NO</th>
                            <th>RET. TIME/ FLIGHT NO</th>
                            <th>DEP DATE</th>
                            <th>RET DATE</th>
                            <th>AVAILBILITY</th>
                            <th>TOTAL SEATS</th>
                            <th>DEP RATE</th>
                            <th>RET RATE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>	
                        {% for supplier_detail in supplier_details %}	
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ supplier_detail.sectors.sector_name }}</td>
                            <td>
                                {% if supplier_detail.departure_time %}
                                    {{ supplier_detail.departure_time}} / {{ supplier_detail.departure_flt_no }}
                                {% else %}
                                    {{ supplier_detail.oneway_time}}
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.return_time %}
                                    {{ supplier_detail.return_time}} / {{ supplier_detail.return_flt_no }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.departure_date %}
                                    {{ supplier_detail.departure_date }}
                                {% else %}
                                    {{ supplier_detail.oneway_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.return_date %}
                                    {{ supplier_detail.return_date }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.departure_seat_availability %}
                                    {{ supplier_detail.departure_seat_availability }} / {{ supplier_detail.return_seat_availability }}
                                {% else %}
                                    {{ supplier_detail.oneway_seat_availability }}
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.total_departure_seats %}
                                    {{ supplier_detail.total_departure_seats }}/ {{ supplier_detail.total_return_seats }}</td>
                                {% else %}
                                    {{ supplier_detail.total_one_way_seats }}
                                {% endif %}
                            <td>
                                {% if supplier_detail.dep_rate_flash %}
                                    {{ supplier_detail.dep_rate_flash }}
                                {% else %}
                                    {{ supplier_detail.oneway_rate_flash }}
                                {% endif %}
                            </td>
                            <td>
                                {% if supplier_detail.ret_rate_flash %}
                                    {{ supplier_detail.ret_rate_flash }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td><a href="{% url 'fixed_departure_details' id=supplier_detail.id %}" class="btn btn-sm btn-info">Enquiry</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h4>Terms and Conditions</h4>
                {% for terms_and_condition in terms_and_conditions %}
                    <p>{{ forloop.counter }}. {{ terms_and_condition.terms }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#sectorTable').DataTable();

            $('select[name="sector_id"]').on('change', function(){
                $('#sector_form').submit();
            });

            setTimeout(function(){
                location.reload();
            }, 300000);
        });
    </script>
{% endblock %}