{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Enquiry</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .error{
            color: #ff0000;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <br>
                <h1 class="text-center">Send Enquiry</h1>
                <br>
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-info"><strong>{{ message }}</strong></p><br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <form method="POST" id="enquiry-form">
                {% csrf_token %}
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile_num" placeholder="Enter your mobile number">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Email Address</label>
                    <input type="text" class="form-control" name="email_id" placeholder="Enter your email id">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your name">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Sector</label>
                    <input type="text" class="form-control" name="supplier" placeholder="Enter your sector" value="{{ supplier_details.sectors.sector_name }}">
                </div>
                <div class="col-md-12">
                    <br>
                    <label class="label-control">Message</label>
                    <textarea class="form-control" name="message" ></textarea>
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="submit" class="btn btn-success" value="Send Enquiry">
                </div>
            </form>
        </div>
        <br>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#enquiry-form').validate({
                rules:{
                    username: {
                        required: true
                    },
                    supplier: {
                        required: true
                    },
                    mobile_num: {
                        required: true,
                        number: true
                    },
                    email_id: {
                        required: true,
                        email: true
                    },
                }
            });
        });
    </script>
{% endblock %}