{% extends 'base.html' %}

{% block title %}
    <title>Gallery</title>
{% endblock %}

{% block content %}
<div class="container">
    <br><br>
    <div class="row text-center">
        <div class="col-md-12">
            {% if gallery_sub_cat_images %}
                <h3>GALLERY IMAGES</h3>
                <br>
                {% for gallery_sub_cat_image in gallery_sub_cat_images %}
                    <div class="col-md-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ gallery_sub_cat_image.images.url }}" class="img-responsive">
                        </a>
                        <h3>{{ gallery_sub_cat_image.title }}</h3>
                    </div>
                    {% if forloop.counter|divisibleby:"3" %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-12">
            {% if gallery_videos %}
                <h3>GALLERY VIDEOS</h3>
                <br>
                {% for gallery_video in gallery_videos %}
                    <div class="col-md-4">
                        <div class="bs-example" data-example-id="responsive-embed-4by3-iframe-youtube"> 
                            <div class="embed-responsive embed-responsive-4by3"> 
                                <a href="#" class="thumbnail"><iframe class="embed-responsive-item" src="{{ gallery_video.video_url }}" allowfullscreen=""></iframe></a>
                            </div>
                        </div>
                        <h3>{{ gallery_video.title }}</h3>
                    </div>
                    {% if forloop.counter|divisibleby:"3" %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>

</div>
{% endblock %}

