{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>We offers FLIGHTS | HOLIDAYS | CAR RENTALS | VISAS | BUS | HOTELS | TRAVEL INSURANCE | FOREX | INT'L SIM CARD - Deals TTH-Tanish Travel Hut,Pune</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonial-style.css' %}">
{% endblock %}

{% block content %}
    <div class="news-section">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            {% for new_info in new_infos %}
                <strong><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> {{ new_info.title }}:</strong> {{ new_info.description }}
            {% endfor %}            
        </marquee>
    </div>

    <div class="container-fluid">

        <div class="row text-center">
            <br>
            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'Visa:visatrack' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Track Visa Application</strong></a></u>
                </span>
            </div>

            <div class="col-sm-6 col-md-3">
                <i class="fa fa-2x fa-taxi" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'cabregisteration' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Cab owners Registered your Cabs</strong></a></u>
                </span>
            </div>

            <div class="col-sm-6 col-md-3">
                <i class="fa fa-2x fa-inr" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'foreignexchange' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Foreign Currency Exchange</strong></a></u>
                </span>
            </div>

            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-university" aria-hidden="true"></i>
                <span>
                    {% if insurance_details %}
                        <u><a href="/media/{{ insurance_details.images }}" target="_blank" class="home-service-tag-anchor"><strong class="home-services-tag">Insurance chart</strong></a></u>
                    {% else %}
                        <u><a href="/" class="home-service-tag-anchor"><strong class="home-services-tag">Insurance chart</strong></a></u>
                    {% endif %}
                </span>
            </div>

            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-bed" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'cities' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Hotel Deals</strong></a></u>
                </span>
            </div>
            <br><br>
        </div>

            
    </div>

    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for homeimageslider in homeimagesliders %}
                {% if forloop.counter == 1 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <a href="{{ homeimageslider.image.url }}" target="_blank"><img src="{{ homeimageslider.image.url }}" alt="..."></a>
                    <div class="carousel-caption">
                        <h3>{{ homeimageslider.title }}</h3>
                        <p>{{ homeimageslider.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title style1 mb-50 mt-50">
                    <div class="title-wrapper">
                        <h1>
                            Services <span class="theme-color">we offer</span>
                        </h1>
                        <p class="sub-title">
                            <span>make us different</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">                    
                    <i class="fa fa-4x fa-cc-visa" aria-hidden="true"></i>
                    <h2>Visa Application</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-taxi" aria-hidden="true"></i>  
                    <h2>Cab Registeration</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-inr" aria-hidden="true"></i>  
                    <h2>Foreign Cur. Exchange</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-university" aria-hidden="true"></i>  
                    <h2>Insurance chart</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-bed" aria-hidden="true"></i>
                    <h2>Hotel Deals</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1 class="text-center"><u>Welcome to Tanish Travel Hut</u></h1>
                <br>
            </div>
        
            <div class="col-md-10 col-md-offset-1">
                <p>We are passionate about delivering exceptional consumer experiences and our purpose is to empower people by making Travel simple, efficient and stress-free. By offering a complete and comprehensive suite of Travel services, we ensure that we meet our client’s every need. Whether you’re just beginning your Travel journey or have had years of experience, Tanish Travel Hut is the place for people to come together to explore, research and share their passion for Travel.</p>
                <p><strong>We provide professional services.</strong></p>
                <p>Our vision and mission are in sync with the dynamics of the Travel industry, taking the levels of customer satisfaction and deliverables to new dimensions.</p>

                <div class="clearfix"></div>
                <hr>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 col-md-offset-2">
                    <img src="{% static 'images/Jai_photo.jpg' %}" height="60%" width="90%" class="img-thumbnail">
                    <p><strong><i>Jai D Solanki</i></strong></p>
                    <p><strong><u>Managing Partner</u></strong></p>
                </div>

                <div class="col-md-4">
                    <img src="{% static 'images/Shweta_Photo.jpg' %}" height="60%" width="90%" class="img-thumbnail">
                    <p><strong><i>Shweta Jai Solanki</i></strong></p>
                    <p><strong><u>Partner</u></strong></p>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="container testimonial">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>    
                <div class="title style1 text-center mb-5">
                    <div class="title-wrapper">
                        <h1><u>
                            Our Testimonials  
                            <span class="theme-color">Say</span>
                        </u></h1>
                        <p class="sub-title">
                            <span>we are always best</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <br>
                <h1 class="text-center"><u>Our Testimonials</u></h1>
                <br>
                <div id="testimonial-slider" class="owl-carousel">
                    {% if testimonial_details %}
                        {% for testimonial_detail in testimonial_details %}
                            <div class="testimonial">
                                <div class="testimonial-content">
                                    <div class="testimonial-icon">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <p class="description">
                                        {{ testimonial_detail.description }}
                                    </p>
                                    <h3 class="title">{{ testimonial_detail.first_name }}</h3>
                                    <span class="post">{{ testimonial_detail.address }}</span>
                                    <a href="{% url 'testimonial' %}" class="btn btn-xs btn-success pull-right">View All Testimonial</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="testimonial-carousel">
        <div id="text-carousel" class="carousel slide" data-ride="carousel">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                    <div class="carousel-inner">
                        {% for testimonial_detail in testimonial_details %}
                        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="carousel-content">
                                <div>
                                    <p class="testimonial_description">{{ testimonial_detail.description }}</p>
                                    <p><i>{{ testimonial_detail.first_name }}, {{ testimonial_detail.address }}</i></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <div class="text-center">
                            <a href="{% url 'testimonial' %}" class="btn btn-primary">View All Testimonial</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>        
        </div>
    </div> -->
    <br><br>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#testimonial-slider").owlCarousel({
                items:1,
                itemsDesktop:[1000,1],
                itemsDesktopSmall:[980,1],
                itemsTablet:[768,1],
                itemsMobile:[650,1],
                pagination:true,
                navigation:false,
                slideSpeed:1000,
                autoPlay:true
            });
        });
    </script>
{% endblock %}