{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Tour and Tourism</title>
{% endblock %}

{% block content %}
    <div class="news-section">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            {% for new_info in new_infos %}
                <strong><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> {{ new_info.title }}:</strong> {{ new_info.description }}
            {% endfor %}            
        </marquee>
    </div>

    <div class="container-fluid">

        <div class="row text-center">
            <br>
            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'visatrack' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Track Visa Application</strong></a></u>
                </span>
            </div>

            <div class="col-sm-6 col-md-3">
                <i class="fa fa-2x fa-taxi" aria-hidden="true"></i>
                <span>
                    <u><a href="#" class="home-service-tag-anchor"><strong class="home-services-tag">Cab owners Registered your Cabs</strong></a></u>
                </span>                
            </div>

            <div class="col-sm-6 col-md-3">
                <i class="fa fa-2x fa-inr" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'foreignexchange' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Foreign Currency Exchange</strong></a></u>
                </span>
            </div>

            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-university" aria-hidden="true"></i>
                <span>
                    {% if insurance_details %}
                        <u><a href="/media/{{ insurance_details.images }}" target="_blank" class="home-service-tag-anchor"><strong class="home-services-tag">Insurance chart</strong></a></u>
                    {% else %}
                        <u><a href="/" class="home-service-tag-anchor"><strong class="home-services-tag">Insurance chart</strong></a></u>
                    {% endif %}
                </span>
            </div>

            <div class="col-sm-6 col-md-2">
                <i class="fa fa-2x fa-bed" aria-hidden="true"></i>
                <span>
                    <u><a href="{% url 'cities' %}" class="home-service-tag-anchor"><strong class="home-services-tag">Hotel Deals</strong></a></u>
                </span>
            </div>
            <br><br>
        </div>

            
    </div>

    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'images/image_6.jpeg' %}" alt="...">
                <div class="carousel-caption">
                    <h3>Cab owners, Registered your Cabs</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/image_5.jpeg' %}" alt="...">
                <div class="carousel-caption">                    
                    <h3>Hotel Deals</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/image_1.jpeg' %}" alt="...">
                <div class="carousel-caption">
                    <h3>Foreign Currency Exchange</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla</p>
                </div>
            </div>
        </div>
    
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title style1 mb-50 mt-50">
                    <div class="title-wrapper">
                        <h1>
                            Services <span class="theme-color">we offer</span>
                        </h1>
                        <p class="sub-title">
                            <span>make us different</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">                    
                    <i class="fa fa-4x fa-cc-visa" aria-hidden="true"></i>
                    <h2>Visa Application</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-taxi" aria-hidden="true"></i>  
                    <h2>Cab Registeration</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-inr" aria-hidden="true"></i>  
                    <h2>Foreign Cur. Exchange</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-university" aria-hidden="true"></i>  
                    <h2>Insurance chart</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item style1">
                    <i class="fa fa-4x fa-bed" aria-hidden="true"></i>
                    <h2>Hotel Deals</h2>
                    <p>
                        Lorem ipsum dolor sit amet, conse
                        ctetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolorealiqua.
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container testimonial">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title style1 text-center mb-50">
                    <div class="title-wrapper">
                        <h1>
                            Our Clients  <span class="theme-color">Say</span>
                        </h1>
                        <p class="sub-title">
                            <span>we are always best</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-carousel">
        <div id="text-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                    <div class="carousel-inner">
                        {% for testimonial_detail in testimonial_details %}
                        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="carousel-content">
                                <div>
                                    <p class="testimonial_description">{{ testimonial_detail.description }}</p>
                                    <p><i>{{ testimonial_detail.first_name }}, {{ testimonial_detail.address }}</i></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <div class="text-center">
                            <a href="{% url 'testimonial' %}" class="btn btn-primary">View All Testimonial</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <br><br>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.testimonial-carousel').backstretch("/static/images/image_4.jpg");
        });
    </script>
{% endblock %}