{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ package_details.title }}</title>
{% endblock %}

{% block style %}
    {{ block.super }}

    <style>
        @media print
        {
            body * { visibility: hidden; }
            .print-div * { visibility: visible; }
            .print-div { position: absolute; top: 40px; left: 30px; }            
        }
        @media screen {
            .print-pdf-div, .print-div { position: absolute; top: 0px; left: 0px; }
            .head-logo{ display: none; }
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container print-div" style="visibility:hidden;">
        <div class="row">
            <img src="{% static 'images/header-logo.png' %}" class="head-logo">
            <p>&nbsp;</p>
            <h3 class="text-center">OVERVIEW</h3>
            {% autoescape off %}
                <p>{{ package_details.overview }}</p>
            {% endautoescape %}
            <p>&nbsp;</p>
            <h3 class="text-center">INCLUSION</h3>
            {% autoescape off %}
                <p>{{ package_details.inclusion }}</p>
            {% endautoescape %}
            <p>&nbsp;</p>
            <h3 class="text-center">EXCLUSION</h3>
            {% autoescape off %}
                <p>{{ package_details.exclusion }}</p>
            {% endautoescape %}
            <p>&nbsp;</p>
            <h3 class="text-center">HOW TO BOOK</h3>
            {% autoescape off %}
                <p>{{ package_details.how_to_book }}</p>
            {% endautoescape %}
            <p>&nbsp;</p>
            <h3 class="text-center">TOUR INFO</h3>
            {% autoescape off %}
                <p>{{ package_details.tour_info }}</p>
            {% endautoescape %}
        </div>
    </div>

    <div class="container print-pdf-div" style="visibility:hidden;">
        <div class="row">
            <img src="{% static 'images/header-logo.png' %}" width="522" height="150" class="head-logo">
            <br><br>
            <p style="text-align:center; font-size: 20px;"><strong>OVERVIEW</strong></p>
            {% autoescape off %}
                <p>{{ package_details.overview }}</p>
            {% endautoescape %}
            <br><br>
            <p style="text-align:center; font-size: 20px;"><strong>INCLUSION</strong></p>            
            {% autoescape off %}
                {{ package_details.inclusion }}
            {% endautoescape %}
            <br><br>
            <p style="text-align:center; font-size: 20px;"><strong>EXCLUSION</strong></p>
            {% autoescape off %}
                {{ package_details.exclusion }}
            {% endautoescape %}
            <br><br>
            <p style="text-align:center; font-size: 20px;"><strong>HOW TO BOOK</strong></p>
            {% autoescape off %}
                {{ package_details.how_to_book }}
            {% endautoescape %}
            <br><br>
            <p style="text-align:center; font-size: 20px;"><strong>TOUR INFO</strong></p>
            {% autoescape off %}
                {{ package_details.tour_info }}
            {% endautoescape %}
            <br><br>            
        </div>
        <div id="editor"></div>
    </div>

    <div class="container">
        <div class="row text-center">
            <h1>{{ package_details.title }}</h1>
            <a href="{% url 'tourenquiry' id=package_details.id %}" class="btn btn-info">Send Enquiry</a>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                
                <div id="carousel-example-generic2" class="carousel slide carousel-fade" data-ride="carousel">
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for package_image in package_details.package_images.all %}
                            <div class="item {% if forloop.counter == 1%} active{% endif %}">
                                <img src="/media/{{ package_image.package_images }}" />
                            </div>
                        {% endfor %}
                    </div>
                
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
                <br>
                <div class="pull-right">
                    <a href="mailto:tanishtravels24@yahoo.co.in" class="btn btn-email" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i> Mail</a>
                    <a href="javascript:void(0);" class="btn btn-print" ><i class="fa fa-print"></i>Print</a>
                    <a href="javascript:void(0);" class="btn btn-download" ><i class="fa fa-download"></i>Download</a>
                </div>
                <br>
            </div>
            
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                <li role="presentation"><a data-toggle="tab" href="#map">Map</a></li>
                <li role="presentation"><a data-toggle="tab" href="#inclusion">Inclusion</a></li>
                <li role="presentation"><a data-toggle="tab" href="#exclusion">Exclusion</a></li>
                <li role="presentation"><a data-toggle="tab" href="#book">How to Book</a></li>
                <li role="presentation"><a data-toggle="tab" href="#tour">Tour Info</a></li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="overview" class="tab-pane fade in active">
                    {% autoescape off %}
                        <p>{{ package_details.overview }}</p>
                    {% endautoescape %}
                </div>
                <div id="map" class="tab-pane fade">
                    <img src="/media/{{ package_details.map_image }}" width="450" height="300"/>
                </div>
                <div id="inclusion" class="tab-pane fade">
                    {% autoescape off %}
                        {{ package_details.inclusion }}
                    {% endautoescape %}
                </div>
                <div id="exclusion" class="tab-pane fade">
                    {% autoescape off %}
                        {{ package_details.exclusion }}
                    {% endautoescape %}
                </div>
                <div id="book" class="tab-pane fade">
                    {% autoescape off %}
                        {{ package_details.how_to_book }}
                    {% endautoescape %}
                </div>
                <div id="tour" class="tab-pane fade">
                    {% autoescape off %}
                        {{ package_details.tour_info }}
                    {% endautoescape %}
                </div>
              </div>
        </div>
        <br><br>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Email</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name">
                                </div>
                            </div>                            
                            <input type="hidden" name="package_id" value="{{ package_id }}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email Id</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email_id" name="email_id" placeholder="Enter your email address">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/jspdf.min.js'%}"></script>
    <script>
        $('.btn-print').on('click', function(){
            window.print();
        });

        $('.btn-download').on('click', function(){
            var pdf = new jsPDF('p', 'pt', 'letter');
            // source can be HTML-formatted string, or a reference
            // to an actual DOM element from which the text will be scraped.
            source = $('.print-pdf-div')[0];

            // we support special element handlers. Register them with jQuery-style 
            // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
            // There is no support for any other type of selectors 
            // (class, of compound) at this time.
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#editor': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 80,
                bottom: 60,
                left: 40,
                width: 522
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                    'width': margins.width, // max width of content on PDF
                    'elementHandlers': specialElementHandlers
                },

                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF 
                    //          this allow the insertion of new lines after html
                    pdf.save('package-details.pdf');
                }, margins
            );
        });

    </script>
{% endblock %}