{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ tour_package_title.title }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                {% for tour_package_detail in tour_package_details %}
                <div class="col-xs-6 col-md-3">
                    <a href="{% url 'packagedetails' id=tour_package_detail.id %}" class="thumbnail">
                        <img src="{{ tour_package_detail.package.package_images.url }}" class="img-responsive">
                    </a>
                    <h3><a href="{% url 'packagedetails' id=tour_package_detail.id %}">{{ tour_package_detail.title }}</a></h3>
                    <p>{{ tour_package_detail.package.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
