{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title_tour_packages.topic }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                {% for tour_detail in tour_details %}
                <div class="col-xs-6 col-md-3">
                    <a href="{% url 'package' id=tour_detail.id %}" class="thumbnail">
                        <img src="{{ tour_detail.tour_images.url }}" class="img-responsive">
                    </a>
                    <h3><a href="{% url 'package' id=tour_detail.id %}">{{ tour_detail.title }}</a></h3>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
