{% extends 'base.html' %}

{% block title %}
    <title>Visa Enquiry</title>
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <h1 class="text-center">Send Enquiry for Visa</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile_num" value="{{ visa_profile.mobile_num }}" placeholder="Enter your mobile number">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Email Address</label>
                    <input type="text" class="form-control" name="email_id" value="{{ request.user.email}}" placeholder="Enter your email id">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Name</label>
                    <input type="text" class="form-control" name="username" value="{{ request.user }}" placeholder="Enter your name">
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="label-control">Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Enter your subject" value="Visa: {{ country.name }}">
                </div>
                <div class="col-md-12">
                    <br>
                    <label class="label-control">Message</label>
                    <textarea class="form-control" name="message"></textarea>
                </div>
                <div class="col-md-12">
                    <br>
                    <input type="submit" class="btn btn-success" value="Send Enquiry">
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center text-info"><strong>{{ message }}</strong></p>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
        <br>
    </div>
{% endblock %}